version: 2

aliases:
  - &setup_miniconda
    name: setup_miniconda
    command: |
       echo "*** setup_miniconda ***"
       mkdir -p workspace
       git clone -b validateNightly --depth 1 git@github.com:CDAT/cdat workspace/cdat
       python workspace/cdat/scripts/install_miniconda.py -w $WORKDIR -p 'py3'

  - &setup_selenium_testlib_env
    name: setup_selenium_testlib_env
    environment:
       CHANNELS: "-c cdat/label/nightly -c conda-forge"
       PKGS: "cdat_info testsrunner"
    command: |
       export PATH=$WORKDIR/miniconda/bin:$PATH
       echo "*** setup_selenium_testlib_env ***"
       conda create -q -n selenium_testlib $CHANNELS $PKGS "python=3.7"
       pip install selenium
       pip install pyvirtualdisplay

  - &run_tests
    name: run_tests
    command: | 
       export PATH=$WORKDIR/miniconda/bin:$PATH
       echo "**** run_tests ****"
       source activate selenium_testlib
       python run_tests.py -H -v2
    
jobs:
   linux_selenium_testlib:
      docker:
         - image: circleci/node:stretch-browsers
      environment:
         WORKDIR: "workdir"
      steps:
         - checkout 
         - run: *setup_miniconda
         - run: *setup_selenium_testlib_env
         - run: *run_tests    

workflows:
   version: 2
   selenium_testlib:
      jobs:
         - linux_selenium_testlib
